extends layout

block content
    if user
        div(style="margin: 3rem auto; max-width: 70%")
            h2 Ready To Run a New Test?
            p.m-l-5 Click on 'Run Test' button in the main navigation.
            
        div(style="margin: 3rem auto; max-width: 70%")
            h2 Or Look at an Existing Test?
            p.m-l-5 Click on 'View Report Data' button in the main navigation.
            