div.navbar2(style="color: white; z-index: 5; position: fixed; width: 100%; display: flex; align-items:center; max-width: 100%; background-color: #0059A2;")
    nav.header2
        .menu2
            if active == 'Home'
                li.active 
                    a(href='/') Home
            else 
                li 
                    a(href='/') Home
            if user !== undefined
                if active == 'New Test'
                    li.active 
                        a(href='/run-test') New Test
                else 
                    li
                        a(href='/run-test') New Test
                if active == 'View Tests'
                    li.active 
                        a(href='/view-test') View Tests
                else 
                    li
                        a(href='/view-test') View Tests
                li
                    a(href='/logout') Logout
            else
                li
                    a(href='/login') Login
