nav
    h1= title
    ul
        li
            a(href='/vrt') Home
        if user !== undefined
            li
                a(href='/vrt/run-test') Run Test
            li
                a(href='/vrt/view-test') View Report Data
            //li
            //  a(href='/vrt/reference') Run New Test
            li
                a(href="/logout") Logout
        else
            li
                a(href="/login") Login