nav
    h1= title
    ul
        li
            a(href='/') Home
        if user !== undefined
            li
                a(href='/run-test') Run Test
            li
                a(href='/view-test') View Report Data
            //li
            //  a(href='/reference') Run New Test
            li
                a(href="/logout") Logout
        else
            li
                a(href="/login") Login