nav
    h1 VRT #{title}

    if user
        p(style="margin: auto;") Hello&nbsp;
            strong #{user.nickname}!
    else
        p Welcome, ready to login?
    ul
        li
            a(href='/') Home
        if user !== undefined
            li
                a(href='/run-test') Run Test
            li
                a(href='/view-test') View Report Data
            //li
            //  a(href='/reference') Run New Test
            li
                a.red-bg(href="/logout") Logout
        else
            li
                a.green-bg(href="/login") Login