h1 VRT
h2 #{title}

if user

    p(style="margin: auto;") Hello&nbsp;
        strong #{user.nickname}!
else
    p Welcome, ready to login?
nav.left-nav.active
    if user !== undefined
        a.green-hover(href='/run-test')
            p Run Test
        a(href='/view-test')
            p View Test
        a.red-hover(href='/logout')
            p Logout
    else
        a(href='/login')
            p Login