extends layout

block content
    .input-container
        h3 Saved Reports
        each link in links
            section.view-pg-link.flex
                p.title= link.name
                .action-items
                    a.green-bg(href= link.href style='') View