extends layout

block content
    .input-container
        h3 Saved Reports
        each link in links
            section.view-pg-link.flex
                p.title= link.name.replaceAll('_', '/')
                a.green-bg.btn(href= link.href style='margin-left:1rem') View
                a.red-bg.btn(href='/delete/'+link.name style='margin-left:1rem') Delete