@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

main {
  padding: 2rem;
  width: 1244px;
  max-width: calc(100% - 4rem);
  margin: 100px auto auto;
}

li {
  list-style: none;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem;
  width: 80%;
}

label {
  z-index: 1;
  margin: 1rem 0 0 5px;
  color: #0009;
  font-weight: bold;
}

input {
  margin-top: -1.25rem;
  margin-bottom: 1rem;
  background: white;
  border: solid 1px #0002;
  padding: 1.5rem 1rem .25rem;
  transition: all 500ms ease-in-out;
}

input:focus {
  margin-top: 0;
  padding: .25rem;
}

form button {
  margin-left: auto;
  border: none;
  padding: .5rem 2rem;
  border-radius: .5rem;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 15px -10px #000;
  transition: all 600ms ease-in-out;
}

form button:hover {
  opacity: .7;
}

.input-container {
  display: flex;
  flex-direction: column;
  border: solid 1px #0001;
  padding: 0 1rem 1rem;
  margin: 1rem .5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 30px 25px -30px #0006;
}

.input-container h3 {
  margin: 1rem .5rem;
  border-bottom: solid 1px #0059A2;
}

.input-container .config {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form .id {
  flex: 1;
}

form .fold {
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.show .fold {
  height: 100%;
  transform: scaleY(1);
}

form .viewport-list,
form .viewports,
form .scenario {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form h4 {
  width: 100%;
  cursor: pointer;
  margin: 1rem 0;
}

form .viewport-list .viewport,
form .viewports .viewport,
form .scenario .input {
  min-width: 25%;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: solid 1px #0002;
  background-color: #fff;
  padding: .5rem;
  margin: .5rem;
  border-radius: 10px;
}

form .urlinfo {
  min-width: 70%;
  flex: 1;
}

#loading {
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 769px) {

  header nav,
  header nav ul {
    flex-direction: column;
  }

  header nav ul li a {
    display: block;
    text-align: center;
  }
  .header2 {
    width: 100%;
  }
  .menu2 {
    flex-direction: column;
  }
}

body {
  width: 100vw;
  display: flex;
  position: relative;
  overflow-x: hidden;
  flex-direction: column;
}
body #root {
  margin-top: 100px;
  background-color: white;
  z-index: 6;
}

body #root .header {
  z-index: 7;
  background-color: white;
}

.ReactModalPortal {
  z-index: 11;
}
nav.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  
}

nav.left-nav a {
  border: none;
  transition: all .6s ease-in-out;
  cursor: pointer;
  background-color: #0000;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.left-nav a p {
  white-space: nowrap;
  transition: all .3s ease-in-out;
  font-weight: 600;
}

nav.left-nav a:hover {
  background-color: #0003;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 0 .5rem;
}

.flex a {
  margin: auto 0;
}

.title {
  padding: 1rem 0;
  margin: 0 auto 0 0;
}
.last-updated {
  font-size: .9rem;
  padding: 1rem 0;
  margin: 0 auto 0 0;
}
.grid:nth-child(odd) {
  background-color: #eee;
}

.btn {
  padding: .5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  opacity: .7;
  box-shadow: 0 5px 10px -5px #000;
}

.edit {
  background-color: green;
}

.delete {
  background-color: #900;
}

.view-pg-link:hover {
  background-color: #0002;
}
.view-pg-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-pg-link .action-items {
  display: flex;
  justify-content: flex-end;
}

.view-pg-link .action-items a {
  margin: 0;
  padding: 1rem .5rem;
  text-decoration: none;
  border: solid 1px #00000005;
  transition: opacity .4s ease-in-out;
}

.view-pg-link .action-items a:hover {
  opacity: .75;
  box-shadow: 0 0 15px #000c !important;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.blue-bg {
  background-color: #0059A2;
  color: #fff;

}

.purple-bg {
  background-color: #8e54e9;
  color: #fff;
}

.grey-bg {
  background-color: #3333;
  color: #000;
}
.purple-bg {
  background-color: #8e54e9;
}
.green-bg, .green-hover:hover {
  background-color: #090;
  color: white;
  box-shadow: 0 0 10px #0003;

}

.red-bg, .red-hover:hover {
  background-color: #900;
  color: white;

}

.m-l-5 {
  margin-left: 5rem;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
  align-items: center;
}

.m-auto {
  margin: auto;
}


.navbar2 {
  width: 100%;
  max-width: 50vw;
  height: 100px;
  display: flex;
  align-items: center;
}

.header2 {
  width: 100%;
  height: 60px;
}

.menu2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu2 li{
  display: block;
  height: 100%;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 0 10px;
  margin-right: 30px;
}

.menu2 li a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}


.menu2 li:after,
.menu2 li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.menu2 li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu2 li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu2 li:hover::before,
.menu2 li:hover::after,
.menu2 li.active::before,
.menu2 li.active::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

input.valid {
  border: solid 1px #0908;
  background: #0902;
}
input.invalid {
  border: solid 1px #9008;
  background: #9002;
}